* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
}
main {
    margin-bottom: 80px;
}


/* <================= deposit start =================> */
/* <================= header start =================> */
.navbar {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    padding: 8px 0;
}
.gif {
    width: 40px;
    transform: translateX(-20px) rotate(-90deg);
}
.info h6, p {
    font-size: 13px !important;
}
.info img {
    width: 16px;
}
.pro_img img {
    width: 40px;
    height: 40px;
}
.pro_img img:hover {
    cursor: pointer;
}
.profile {
    justify-content: center;
    align-items: center;
}
.top_icons a img {
    width: 30px;
}
.top_icons a .img1 {
    padding: 5px;
}
/* <================= header end =================> */

/* <================= welcome start =================> */
.welcome_content {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
}
.slider_one {
    margin-bottom: -7px !important;
}
.slider_one img {
    margin: 0;
}

/* .slick-dots {
    margin: 0 0 36px;
}
.slick-dots li button::before {
    width: 14px;
    height: 14px;
}
.slick-dots li button {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
.slick-dots li.slick-active button:before {
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 50%;
    opacity: 1;
} */
/* <================= welcome end =================> */

/* <================= live_section start =================> */
.live_section {
    font-size: 11px;
    font-weight: bolder;
}
.live_section .table tr th, td {
    text-align: center;
    color: #5255FF !important;
}
.live_section .table tr td img {
    width: 20px;
    height: 20px;
}
.big {
    font-size: 13px;
}
.live_section .card {
    box-shadow: 0px 0px 30px #c7bcc2 !important;
}
.live_section .card-body {
    padding-bottom: 0;
}
/* <================= live_section end =================> */

/* <================= live_section end =================> */
.game_section .left-side {
    max-height: 350px;
    overflow-y: scroll;
}
.game_section .left-side::-webkit-scrollbar {
    display: none;
}
.game_section .right-side {
    max-height: 350px;
    overflow-y: scroll;
}
.game_section .right-side::-webkit-scrollbar {
    display: none;
}
.game_section .right-side {
    padding: 0 12px;
} 
/* <================= live_section end =================> */
/* <================= Deposit end =================> */



/* <================= withdraw start =================> */
/* <================= deposit_section start =================> */
.deposit_section .nav {
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.deposit_section .nav button {
    position: relative;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
}

.deposit_section .nav button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(180deg, #005DAC, #0030FF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.deposit_section .nav .active {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
}
.deposit_section .nav::-webkit-scrollbar {
    display: none;
}
.deposit_section .title p {
    font-size: 13px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}
.deposit_section .item1 {
    background: #000084 !important;
}
.deposit_section .items {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    padding: 10px 5px;
    border-radius: 5px;
}
.deposit_section .items a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.deposit_section .items a i {
    font-size: 26px;
}
.deposit_section .items a img {
    width: 26px;
    height: 26px;
}
/* <================= deposit_section end =================> */
/* <================= withdraw end =================> */


/* <================= reference start =================> */
/* <================= overview_section start =================> */
.overview_section .nav {
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.overview_section .nav button {
    position: relative;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
}

.overview_section .nav button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(180deg, #005DAC, #0030FF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.overview_section .nav .active {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
}
.overview_section .nav::-webkit-scrollbar {
    display: none;
}
.over-view-content .title p {
    font-size: 18px !important;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.referral-section {
    display: flex;
    align-items: center;
}

#referral-link {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    outline: none;
}

#copy-button {
    padding: 10px 10px;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#copy-button i {
    font-size: 22px;
}
#liveToast {
    position: fixed;
    bottom: 100px;
    left: 200px;
}

.over-view-content .box {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 14px;
}
.table-area .table tr th {
    font-size: 13px;
    color: #fff !important;
    text-align: center;
}
.table-area .table tr td {
    font-size: 11px;
    color: #fff !important;
}
.table-area .table-striped-columns>:not(caption)>tr>:nth-child(2n) {
    background-image: linear-gradient(to bottom, rgb(11 81 141), #1a35aa);
}
.table-area .table>:not(caption)>*>* {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
}
/* <================= overview_section end =================> */

/* <================= rewards section start =================> */
.progress, .progress-stacked {
    --bs-progress-height: 7px;
}
.referral-box .left-side .content small, p {
    font-size: 11px !important;
}
.referral-box .right-side span{
    font-size: 11px !important;
}
.referral-box {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    margin: 10px 0 !important;
    border-radius: 5px;
    padding: 15px 10px;
    color: #fff;
}
/* <================= rewards section end =================> */
/* <================= reference end =================> */



/* <================= footer-navigation start =================> */
.footer-navigation {
    background-image: url('../images/nabback.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    padding: 10px 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.footer-navigation a {
    color: #ede6e6;
    font-weight: 600;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}

.offcanvas {
    width: 264px !important;
}
.offcanvas-body {
    color: #0000ff;
    font-weight: bold !important;
    padding-left: 40px;
    padding-right: 0!important;
}
.canva-pro img {
    width: 40px;
    height: 40px;
    margin-left: -40px;
}
.offcanvas-body .info h6{
    font-weight: bolder !important;
}

.border-gradient {
    background: linear-gradient(to right, #0030FF, rgba(128, 128, 128, 0));
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.inner-element {
    background-color: #fff;
    padding: 5px;
}
.inner-element a {
    text-decoration: none;
}
.inner-element img {
    margin: 0 20px 0 5px;
}

.menus .img-bg {
    background-image: linear-gradient(to bottom, #000B3B, #0030FF);
    padding: 18px 15px;
    margin-top: -50px;
    margin-left: -3px;
    border-radius: 50%;
}

/* <================= footer-navigation end =================> */