@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    font-family: "Readex Pro", sans-serif;
}
main {
    margin-bottom: 80px;
}

/* <================= header start =================> */
.navbar {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    padding: 8px 0;
}
.gif {
    width: 40px;
    transform: translateX(-20px) rotate(-90deg);
}
.info>h6, .balance {
    font-size: 13px !important;
}
.info img {
    width: 16px;
}
.pro_img img {
    width: 40px;
    height: 40px;
}
.pro_img img:hover {
    cursor: pointer;
}
.profile {
    justify-content: center;
    align-items: center;
}
.top_icons a img {
    width: 30px;
}
.top_icons a .img1 {
    padding: 5px;
}
/* <================= header end =================> */

/* <================= home page start =================> */
/* <================= welcome start =================> */
.welcome_content {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
}
.slider_one {
    margin-bottom: -7px !important;
}
.slider_one img {
    margin: 0;
}
/* <================= welcome end =================> */

/* <================= live_section start =================> */
.live_section {
    font-size: 11px;
    font-weight: bolder;
}
.live_section .table tr th, td {
    text-align: center;
    color: #5255FF !important;
}
.live_section .table tr td img {
    width: 20px;
    height: 20px;
}
.big {
    font-size: 13px;
}
.live_section .card {
    box-shadow: 0px 0px 30px #c7bcc2 !important;
}
.live_section .card-body {
    padding-bottom: 0;
}
/* <================= live_section end =================> */

/* <================= game_section start =================> */
.game_section .left-side {
    max-height: 350px;
    overflow-y: scroll;
}
.game_section .left-side::-webkit-scrollbar {
    display: none;
}
.game_section .right-side {
    max-height: 350px;
    overflow-y: scroll;
}
.game_section .right-side::-webkit-scrollbar {
    display: none;
}
.game_section .right-side {
    padding: 0 12px;
} 
.game_section .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    padding: 3px !important;
}
/* <================= game_section end =================> */
/* <================= home page end =================> */

/* <================= deposit page start =================> */

.cus .col-4:first-child,
.cus .col-4:nth-child(4),
.cus .col-4:nth-child(7),
.cus .col-4:nth-child(10),
.cus .col-4:nth-child(13),
.cus .col-4:nth-child(16) {
    padding-left: 0 !important;
    padding-right: 8px !important;
}
.cus .col-4 {
    padding: 6px 4px;
}
.cus .col-4:nth-child(3),
.cus .col-4:nth-child(6),
.cus .col-4:nth-child(9),
.cus .col-4:nth-child(12),
.cus .col-4:nth-child(15) {
    padding-right: 0 !important;
    padding-left: 8px !important;
}
.cus .item {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    text-align: center;
    padding: 10px 5px;
    border-radius: 5px;

}
.cus .item-3 {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    border-radius: 5px;
}
.cus .item-3 img {
    min-height: 80px;
}
.cus .item span {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.cus .nam {
    font-size: 14px;
    font-weight: bold;
    color: #198af6;
}
.cus .item a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.setwidth {
    width: 25px;
}
.last-bg {
    background: #3B6CB5 !important;
}
.cus .item a i {
    font-size: 26px;
}

.deposit_section .payment-method .title p, 
.deposit_section .bank-transfer .title p,
.deposit_section .bank-details .title p,
.deposit_section .deposit_quata .title p,
.deposit_section .deposit_info .title p,
.deposit_section .transection_id label,
.deposit_section .receipt .title label,
.amount-section .form-group label,
.deposit_section .receipt .title p {
    font-size: 13px !important;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    margin-bottom: 10px;
}
.deposit_section .payment-method .item-1 {
    background: #000084 !important;
}
.hr {
    margin: 10px 0;
    color: #005DAC;
    line-height: 16px;
    border: 1px solid;
}

.deposit_section .bank-details .account_name {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    outline: none;
    border: none;    
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
}
.deposit_section .bank-details #copy-button {
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    outline: none;
}
.deposit_section .bank-details .bg-part{
    background: #e1e1e1;
    padding: 10px;
    border-radius: 5px;
    
}
.deposit_section .deposit_info .form-group {
    
}
.select2-container .select2-selection--single .select2-selection__rendered {
    color: #fff !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url('../images/angle-down.svg');
}
.select2-container .select2-selection--single {
    height: initial;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    padding: 8px;
    border-radius: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #ffffff transparent transparent transparent;
    border-width: 10px 10px 0 10px;
    margin-left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 85%;
    left: -45%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #fff transparent;
    border-width: 0 10px 10px 10px;
}
.deposit_quata {
    margin: 10px 0;
}
.deposit_quata .clr {
    color: #000084 !important;
}
.deposit_section .deposit_quata #bdt-button {
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    padding: 10px 20px;
}
.deposit_section .deposit_quata .account_name{
    flex: 1;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    outline: none;
    border: none;    
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    text-align: right;
}
.deposit_section .deposit_quata .account_name::placeholder{
    color: #fff;
}
.deposit_section .deposit_quata .amount-btn input {
    color: #fff;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    width: 100%;
    border: none;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}
.deposit_section .transection_id input {
    color: #fff;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none !important;
    
}
.deposit_section .transection_id input::placeholder {
    color: #fff;
}
.deposit_section .receipt input {
    flex: 1;
    color: #fff;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    border: none;
    border-radius: 5px;
    outline: none !important;
    padding: 10px 20px;
}
.deposit_section .receipt .input-group i {
    color: #fff;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    border: none;
    border-radius: 5px;
    outline: none !important;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 20px;
}
.deposit_section .receipt input::placeholder {
    color: #fff;
}
.deposit_section .receipt .title a {
    text-decoration: none;
}
.deposit_section .receipt .title a:hover {
    text-decoration: underline;
}
.deposit_section .submitBtn {
    margin: 40px 0 100px;
}
.deposit_section .submitBtn button {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
}

#qrbutton {
    font-size: 10px;
}
.info-item .nam2 {
    font-size: 11px !important;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    margin-bottom: 10px;
}
.deposit_section .wallet {
    margin-bottom: 100px;
}
/* <================= deposit end =================> */

/* <================= withdraw start =================> */
.withdraw_section #withdrawSubmitBtn {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
}
.withdraw_section .bank-transfer .title p {
    font-size: 13px !important;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    margin-bottom: 0;
    margin-bottom: 10px;
}
.amount-section .form-group input {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    padding: 10px 20px;
    outline: none;
}
.amount-section .form-group input::placeholder {
    color: #fff; 
}
.endline {
    margin-top: 20px;
    font-size: 14px !important;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}
/* <================= withdraw end =================> */

/* <================= reference page start =================> */
/* <================= reference nav start =================> */
.reference_section .customnav {
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.reference_section .customnav button {
    position: relative;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
}
.reference_section .customnav button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(180deg, #005DAC, #0030FF);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.reference_section .customnav .active {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
}
.reference_section .customnav::-webkit-scrollbar {
    display: none;
}
/* <================= reference nav end =================> */

/* <================= overview start =================> */
.over-view-content .title p {
    font-size: 18px !important;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}
.referral-section {
    display: flex;
    align-items: center;
}
#referral-link {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    outline: none;
}
#copy-button {
    padding: 10px 10px;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#copy-button i {
    font-size: 22px;
}
#liveToast {
    position: fixed;
    bottom: 100px;
    left: 200px;
}
.over-view-content .box {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 14px;
}
.table-area .table tr th {
    font-size: 13px;
    color: #fff !important;
    text-align: center;
}
.table-area .table tr td {
    font-size: 11px;
    color: #fff !important;
}
.table-area .table-striped-columns>:not(caption)>tr>:nth-child(2n) {
    background-image: linear-gradient(to bottom, rgb(11 81 141), #1a35aa);
}
.table-area .table>:not(caption)>*>* {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
}
/* <================= overview end =================> */

/* <================= rewards section start =================> */
.progress, .progress-stacked {
    --bs-progress-height: 7px;
}
.referral-box>.left-side>.content>small, .referp {
    font-size: 11px !important;
}
.referral-box .right-side span{
    font-size: 11px !important;
}
.referral-box {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    margin: 10px 0 !important;
    border-radius: 5px;
    padding: 15px 10px;
    color: #fff;
}
/* <================= rewards section end =================> */

/* <================= Income section start =================> */
.inner_nav button {
    background: transparent !important;
    border: none;
    color: #007bfb;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 14px 10px 0;
}
.inner_nav button.active {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    background-clip: text !important;
}
.inner_nav .card {
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF) !important;
    border: none;
}
.inner_nav .card .card-header {
    background: #007bfb;
    color: #ffffff;
    font-weight: bold;
    padding: 16px 0;
}
.inner_nav .card .card-body {
    padding: 20px;
}
.inner_nav .table tr td {
    background: transparent !important;
    color: white !important;
    padding: 3px 0 !important;
    text-align: center;
}
.inner_nav .table tr td:first-child {
    text-align: left !important;
}
.inner_nav .table tr td:last-child {
    text-align: right !important;
}
/* <================= Income section end =================> */

/* <================= reference page end =================> */

/* <================= profile page start =================> */
.account_info {
    background-image: linear-gradient(to bottom, #005DAC, #0030FF) !important;
    color: #ffffff;
    /* font-weight: bold; */
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 20px 0 40px;
}
.account_info .verifiedBtn {
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #ffffff;
    font-size: 12px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 30px;
}
.account_info .vipBtn {
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #ffffff;
    font-size: 12px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 30px;
}
.account_info .nameTitle {
    font-size: 16px;
    padding: 5px 10px;
}
.account_info .logout {
    font-size: 16px !important;
    text-decoration: none;
    color: #ffffff;
}
.account_info .subscription_pack .regular {
    font-size: 16px !important;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 0 !important;
}
.account_info .credit .regular {
    font-size: 14px !important;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 0 !important;
}
.account_info .credit .taka i {
    font-size: 12px;
    margin-left: 10px;
}

.verify-section .verify_info .security {
    font-size: 14px !important;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    margin: 10px 0;
    display: inline-block;
}
.verify-section .verify_info .security i {
    font-size: 14px !important;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    display: inline-block;
    margin-left: 5px;
}
.verify-section .verify_info .percent {
    font-size: 14px !important;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    display: inline-block;
    text-decoration: none;
}
.verify-section .verify-body .getBdt {
    color: #ffffff;
    font-size: 11px;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF) !important;
    padding: 5px 10px;
    border-radius: 16px;
}
.verify-section .verify-body {
    position: relative;
}
.verify-section .verify-body .getBdt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    margin-left: -5px;
    border-width: 10px 5px;
    border-style: solid;
    border-color: #0000ff transparent transparent transparent;
}
.verify-section .verify-body .getBdt i {
    font-size: 11px;
    margin-right: 5px;
}
.verify-section .verify-selection  {
    background: #e1e1e1;
    padding: 15px;
    border-radius: 5px;
}

.verify-section .verify-selection a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF) !important;
    border-radius: 5px;
}
.verify-section .verify-selection .id_verify,
.verify-section .verify-selection .account_verify,
.verify-section .verify-selection .number_verify,
.verify-section .verify-selection .message_verify{
    position: relative;
}
.verify-section .verify-selection .posit {
    position: absolute;
    bottom: -5px;
    right: 0;
    color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px;
}
.verify-section .upper_profile a {
    text-decoration: none;
}
.verify-section .upper_profile i {
    border-radius: 5px;
    /* font-size: 11px; */
    background-image: linear-gradient(to bottom, #005DAC, #0030FF) !important;
    color: #ffffff;
    padding: 10px;
}
.verify-section .upper_profile span {
    font-size: 11px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #005DAC, #0030FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    margin: 10px 0;
    display: inline-block;
}
/* <================= profile page end =================> */

/* <================= footer-navigation start =================> */
.footer-navigation {
    background-image: url('../images/nabback.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    padding: 10px 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.footer-navigation a {
    color: #ffffff;
    opacity: .5;
    font-weight: 600;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}
.footer-navigation a.active {
    color: #ffffff;
    opacity: 1;
}
.footer-navigation a i {
    font-size: 20px;
}
.footer-navigation .menus {
    opacity: 1;
}
.footer-navigation .menus .img-bg {
    background-image: linear-gradient(to bottom, #000B3B, #0030FF);
    padding: 18px 15px;
    margin-top: -50px;
    margin-left: -3px;
    border-radius: 50%;
    opacity: 1;
}
.offcanvas {
    width: 264px !important;
}
.offcanvas-body {
    color: #0000ff;
    font-weight: bold !important;
    padding-left: 40px;
    padding-right: 0!important;
}
.canva-pro img {
    width: 40px;
    height: 40px;
    margin-left: -40px;
}
.offcanvas-body .info h6{
    font-weight: bolder !important;
}
.border-gradient {
    background: linear-gradient(to right, #0030FF, rgba(128, 128, 128, 0));
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.inner-element {
    background-color: #fff;
    padding: 5px;
}
.inner-element a {
    text-decoration: none;
    font-weight: bold;
    color: #001ea1;
}
.inner-element i {
    margin: 0 20px 0 5px;
    color: #001ea1;
    font-size: 20px;
}

/* <================= footer-navigation end =================> */